@font-face {
    font-family: "KronaOne";
    src: url("../assets/fonts/KronaOne-Regular.ttf") format("truetype");
}

body {
    background: linear-gradient(to right, #A8BC96, white);
    overflow: hidden;
}
