.tickets-container {
    display: grid;
    gap: 2vmax;
    grid-auto-rows: min-content;
    justify-items: center;
    
    position: fixed;
    height: 100vh;
    width: 95vw;

    left: 5vmax;
    top: 0;

    overflow-y: scroll;
    
    transition: all 0.5s ease;
}

.tickets-container > :first-child {
    margin-top: 2vmax;
}

.tickets-container > :last-child {
    margin-bottom: 2vmax;
}

.ticket-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: 8vmax;

    backdrop-filter: blur(10px);
    background-color: rgba(230, 255, 238, 0.4);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 25%);

    border-radius: 10px;

    transition: box-shadow 0.5s ease;
    z-index: -1;
}

.ticket-container:hover { 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 50%);
}

.ticket-container > * {
    height: 35%;
    width: 50%;
    margin: 2vmax;
}

.ticket-container input {
    border-radius: 3px;
    border: none;
}

.ticket-container input:focus {
    outline: none;
}

#ticket-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 50%;
}

#ticket-button-container button {
    border: none;
    border-radius: 3px;
    height: 50%;
    color: white;
    font-family: "KronaOne";
    font-size: 0.7rem;
    cursor: pointer;

    transition: transform 0.2s ease;
}

#ticket-button-container button:active {
    transform: scale(1.05);
}

.save-ticket-button {
    background-color: rgba(103, 255, 123, 0.75);
}

.close-ticket-button {
    background-color: rgba(255, 90, 90, 0.637);
}